.leasing 
    padding-bottom: 0
    &-container
        margin-bottom: -30px 

@media #{ $sm-and-down }
    .leasing 
        padding-top: 0
    
  
        
           
    
        
  
     
     
         
